apiVersion: apps/v1
kind: Deployment
metadata:
  name: openttd-deployment
  labels:
    app: openttd
spec:
  selector:
    matchLabels:
      app: openttd
  template:
    metadata:
      labels:
        app: openttd
    spec:
      containers:
      - image: yhaenggi/openttd:1.10.1
        imagePullPolicy: Always
        name: openttd-container
        stdin: true 
        tty: true 
        command: ["bash"]
        args: ["-c", "/usr/games/openttd -D $(find /home/openttd/.openttd/save/ -type f -printf '%T@ %p\n' | sort -n | awk '{print \"-g \" $2}'|tail -n 1)"]
        ports:
        - containerPort: 3979
        - containerPort: 3977
        readinessProbe:
          tcpSocket:
            port: 3979
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 3979
          initialDelaySeconds: 30
          periodSeconds: 10
        volumeMounts:
        - mountPath: /home/openttd/.openttd
          name: openttd-folder
        - mountPath: /home/openttd/.openttd/content_download
          name: openttd-content-download
        - mountPath: /home/openttd/.openttd/save
          name: openttd-saves
        - mountPath: /home/openttd/.openttd/openttd.cfg
          name: openttd-config
          subPath: openttd.cfg
        securityContext:
          runAsUser: 911
          readOnlyRootFilesystem: true
          runAsNonRoot: true
      volumes:
      - name: openttd-folder
        emptyDir: {}
      - name: openttd-saves
        persistentVolumeClaim:
          claimName: openttd-saves
      - name: openttd-content-download
        persistentVolumeClaim:
          claimName: openttd-content-download
      - name: openttd-config
        configMap:
          name: openttd-config
